<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games.aviramalkobi.fitness_tracking" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomePageLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".HomePageLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.games.aviramalkobi.fitness_tracking.HomePageLogin" />
        </activity>
        <activity
            android:name=".NextRegister"
            android:label="@string/title_activity_next_register"
            android:parentActivityName=".Register" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.games.aviramalkobi.fitness_tracking.Register" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="profile"
            android:parentActivityName=".HomePageLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageLogin" />
        </activity>
        <activity
            android:name=".ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName=".Profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.games.aviramalkobi.fitness_tracking.Profile" />
        </activity>
        <activity
            android:name=".ShowExercisesActivity"
            android:label="@string/title_activity_show_exercises"
            android:parentActivityName=".ExercisesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.games.aviramalkobi.fitness_tracking.ExercisesActivity" />
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="JsFEGYXdtCqMlgTLN23H2IlYlycKEDirbdKjKEfY" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="NBmDPpoWRw8DmJ9u7Za57BJcUNpjejMlWv0uW88r" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
